.logo {
    height: 50px;
    margin-left: 100px;
}

.nav {
    font-size: medium;
}

.items {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(218, 214, 214);
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

.items:hover {
    color: rgb(43, 26, 26);
}

.nav-position {
    position: sticky !important;
    z-index: 222;
    top: 0;
}